/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .example {
    @apply bg-gray-800 w-screen h-screen;
  }
  .intro-x {
    @apply translate-x-32 opacity-50 transition-all;
  }
  .intro-base {
    @apply translate-x-0  opacity-100 delay-500;
  }
}
@layer utilities {
  .intro-set {
    animation-fill-mode: forwards;
  }
} */

.backgroundGradient {
  background: linear-gradient(
    108deg,
    rgba(155, 155, 155, 1) 0%,
    rgba(155, 155, 155, 1) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(155, 155, 155, 1) 60%,
    rgba(155, 155, 155, 1) 100%
  );
  background-size: 400% 400%;
  background-attachment: fixed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .example {
    @apply bg-gray-800 w-screen h-screen;
  }

  .introX {
    @apply transition-all animate-introX intro-set;
  }

  .introY {
    @apply transition-all animate-introY intro-set;
  }
}
@layer utilities {
  .intro-set {
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
